body {
  font-family: Arial;
}

.card {
  width: 625px;
}

.poll__title {
  margin-bottom: 20px;
}


.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal__active {
  display: flex;
}

.modal__content {
  width: 300px;
  height: 300px;
  overflow: auto;
  background: #fff;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__close_times {
  position: absolute;
  right: 5px;
  top: -2px;
  font-size: 25px;
  cursor: pointer;
}